<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "https://hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">${jdbc.url}</property>
        <property name="hibernate.connection.username">${jdbc.user}</property>
        <property name="hibernate.connection.password">${jdbc.password}</property>

        <property name="hibernate.show_sql">${hibernate.showSQL}</property>

        <property name="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl}</property>

        <property name="hibernate.current_session_context_class">thread</property>

        <property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

        <mapping class="com.root7325.entity.User"/>
    </session-factory>
</hibernate-configuration>