<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.root7325" level="${log.level.root}"/>
    <logger name="com.root7325.bancho.service.PingService" level="OFF"/>
    <logger name="org.jboss" level="OFF"/>
    <logger name="io.netty" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>

    <root level="TRACE">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>